@keyframes foreground-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.background-random-img {
  max-width: 100%;
  height: auto;
  z-index: 0;
  top: 0;
  left: 0;
}

.foreground {
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  animation: foreground-out 3s ease-in-out forwards;
}

.background-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  max-width: initial;
}
